body .btn {
	color: #000;
	text-decoration:none;	
	background-color: #ccc;
	display: inline-block;
	vertical-align: top;
	padding: 10px 15px;
	line-height: 1.2;
	border: 0;
	box-shadow: none;
	font-size: 16px;
	text-transform: uppercase;
}
body .btn:hover {
	background-color: #000;
	color: #ccc;
}